@model GroceryShopAPIConsume.Models.CategoryModel

<head>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .form-container {
            margin-top: 30px;
            margin-left: 180px;
            margin-bottom: 30px;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .form-container h5 {
                background: #007bff;
                color: white;
                padding: 10px;
                border-radius: 5px;
                text-align: center;
                margin-bottom: 20px;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h5>Category Form</h5>

            <form method="post" asp-action="Save" asp-controller="Category">
                <input type="hidden" class="form-control" asp-for="CateoryID">

                <div class="mb-3">
                    <label class="col-form-label">Category Name</label>
                    <input type="text" class="form-control" asp-for="CategoryName">
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
